# ============================================================
# POSTGRESQL
# ============================================================
POSTGRES_PASSWORD=PulseRH_Postgres_2026!Secure

KEYCLOAK_DB=pulse_auth
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=PulseRH_KeycloakDB_2026!Secure

PULSE_AI_DB=pulse_ai
PULSE_AI_DB_USER=pulse_ai_user
PULSE_AI_DB_PASSWORD=PulseRH_PulseAI_2026!Secure

WAZUH_DB=wazuh_indexer
WAZUH_DB_USER=wazuh_user
WAZUH_DB_PASSWORD=PulseRH_Wazuh_2026!Secure

# ============================================================
# KEYCLOAK
# ============================================================
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=PulseRH_AdminKC_2026Secure
KEYCLOAK_HOSTNAME=auth.pulse.local

# ============================================================
# REDIS
# ============================================================
REDIS_PASSWORD=PulseRH_Redis_2026!Secure

# ============================================================
# TRAEFIK
# ============================================================
TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASSWORD_HASH=$$apr1$$qa5lBj1h$$RK1cWUsU56IQxd8kcX9gx/

# ─────────────────────────────────────────
# WAZUH
# ─────────────────────────────────────────
WAZUH_INDEXER_PASSWORD=PulseWazuh_Indexer2026!
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASSWORD=PulseWazuh_API2026!
