# ============================================================
# POSTGRESQL
# ============================================================
POSTGRES_PASSWORD=PulseRH_Postgres_2026!Secure

KEYCLOAK_DB=pulse_auth
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=PulseRH_KeycloakDB_2026!Secure

PULSE_AI_DB=pulse_ai
PULSE_AI_DB_USER=pulse_ai_user
PULSE_AI_DB_PASSWORD=PulseRH_PulseAI_2026!Secure

WAZUH_DB=wazuh_indexer
WAZUH_DB_USER=wazuh_user
WAZUH_DB_PASSWORD=PulseRH_Wazuh_2026!Secure

# ============================================================
# KEYCLOAK
# ============================================================
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=PulseRH_AdminKC_2026Secure
KEYCLOAK_HOSTNAME=auth.pulse.local

LLM_API_KEY=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

# ============================================================
# REDIS
# ============================================================
REDIS_PASSWORD=PulseRH_Redis_2026!Secure

# ============================================================
# TRAEFIK
# ============================================================
TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASSWORD_HASH=$$apr1$$qa5lBj1h$$RK1cWUsU56IQxd8kcX9gx/

# ─────────────────────────────────────────
# WAZUH
# ─────────────────────────────────────────
WAZUH_INDEXER_PASSWORD=PulseWazuh_Indexer2026!
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASSWORD=PulseWazuh_API2026!

# ============================================================
# PULSE AI BACKEND
# ============================================================
PROJECT_NAME="Pulse AI Backend"
VERSION="1.0.0"

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=PulseRH_Minio_2026!Secure

# API Externes
LLM_API_URL=http://localhost:8000/v1
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,https://ai.pulse.local

# Rate Limiting
RATE_LIMIT_GLOBAL=100
RATE_LIMIT_CHAT=30
RATE_LIMIT_WINDOW=60
