fastapi
uvicorn[standard]
pydantic-settings
python-jose[cryptography]
prometheus-fastapi-instrumentator
email-validator
python-multipart
redis[hiredis]
requests
SQLAlchemy
asyncpg
alembic
pandas
Faker
reportlab
Jinja2
xhtml2pdf
openai
qdrant-client
fastembed
sse-starlette
tiktoken
python-dotenv
httpx
